/*!
==================================================================

2020 Group STYLESHEET for Currency Switcher
Author: Sinead O'Connor

==================================================================
*/


.widget_wc_aelia_currencyswitcher_widget{
  text-align:left;
  /*
  padding-top:5px;
  padding-bottom:5px;
  padding-left:0.5%;
  */
  z-index:7999;
  cursor:pointer;
  text-indent:0;
  position:relative;
  font-family: 'proxima-nova-soft',"Helvetica Neue",Helvetica,Arial,sans-serif;
  color : #7d8585;
  font-size:0.9375rem;

}
.widget_wc_aelia_currencyswitcher_widget i{
  float:right;
  width:0;
}

.widget_wc_aelia_currencyswitcher_widget form{
  position:absolute;
  display:none;
  opacity:1;
  z-index:9999999999999999999999!important;
  left:0;
//   top:33px;
  margin-left:10px;
  margin-right:10px;
  max-width:200px;
  background:#d9e7e7;
  text-indent:0;
  padding:0 0.3rem;
}

.widget_wc_aelia_currencyswitcher_widget:focus ~ .widget_wc_aelia_currencyswitcher_widget form{
  opacity:1;
}

.widget_wc_aelia_currencyswitcher_widget form button {
  display:block;
  background:transparent;
  padding:3px;
  border:0;
  border-bottom:0px solid #eaeaea;
  max-width:150px;
  text-align:right;
  width:100%;
  color:#7d8585;
  text-indent:10px;
  outline:none;
  margin:2px;
}
.widget_wc_aelia_currencyswitcher_widget form button:focus, .widget_wc_aelia_currencyswitcher_widget form button:hover {
  background-color: #b9d0d0!important;
  color: #7d8585;
}
.widget_wc_aelia_currencyswitcher_widget form button.active {
  font-weight:bold;
}

select#aelia_cs_currencies{
  padding:10px;

  background:#333;
  color:#fff;
  border:0;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  border-radius:0px;
}

#aelia_cs_currencies option{
  font-size:13px;
  font-weight:bold;
  background:transparent;
}

.currency_button{
  max-height:25px;
}

.widget_wc_aelia_currencyswitcher_widget i {
  background:url(../images/general/arrow.png) no-repeat scroll right center; display:block;     
  width:18px;
  height:18px;
  background-size:55%; 
  margin-top:1px;
}



/*-- RESPONSIVE SETTINGS --*/
@media only screen
and (min-width : 200px)
and (max-width : 650px) {
  .widget_wc_aelia_currencyswitcher_widget{
    text-align:left;
  }
  .widget_wc_aelia_currencyswitcher_widget form{
    float:none;
    margin-left:10px;
  }
}

