.quotes {
	background: inherit;
	color: $white;
	padding: 1rem 0;
	p {
		&.ita{
			font-style: italic;
		}
		a {
  		color:$white;
		}
	}
	
	.owl-controls {
		
		.owl-nav {
			
			.owl-prev, .owl-next {
				background: rgba(0,0,0,.5);
				color: $white;
				width: 30px;
				height: 30px;
				line-height: 30px;
				position: absolute;
				top: 40%;
				left: 0;
				text-align: center;
				@include border-radius(15px);
			}
			
			.owl-prev{
				&:after{
					content: '\e616';
					font-family: 'icomoon';
	        font-size: 18px;
	        speak: none;
	        font-style: normal;
	        font-weight: normal;
	        font-variant: normal;
	        text-transform: none;
	        		        
	        /* Better Font Rendering =========== */
	        -webkit-font-smoothing: antialiased;
	        -moz-osx-font-smoothing: grayscale;
        }
			}
			
			.owl-next{
				left: auto;
				right: 0;
				
				&:after{
					content: '\e619';
					font-family: 'icomoon';
	        font-size: 18px;
	        speak: none;
	        font-style: normal;
	        font-weight: normal;
	        font-variant: normal;
	        text-transform: none;
	        		        
	        /* Better Font Rendering =========== */
	        -webkit-font-smoothing: antialiased;
	        -moz-osx-font-smoothing: grayscale;
        }
			}
		}
	}
}